<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Password Reset</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
          <ion-item>
              <ion-label position="floating">Nickname</ion-label>
              <ion-input type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
            </ion-item>
            <div class="spacer" style="height: 10px;"></div>
            <ion-button (click)="reset()" expand="block" color="secondary">
              Reset my password
            </ion-button>
            <ion-button (click)="goBack()" expand="block" color="light">
              Go Back
            </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
