ion-tab-bar {
	background-color: #03b6b3;
}
ion-label{
    background-color: #03b6b3;
    color: #fff;
}
ion-tabs{
    color: #03b6b3;
}

ion-icon{
    background-color: #03b6b3;
    color: #fff;
}
ion-tab-button{
    background-color: #03b6b3;
}